NODE_ENV=development
BACKEND_URL=http://localhost:4000
FRONTEND_URL=http://localhost:3000
PROXY_PORT=
PORT=4000

# PostgreSQL
DB_HOST=localhost
DB_DIALECT=postgres
DB_PORT=55433
DB_USER=whatize
DB_PASS=sua_senha_do_banco
DB_NAME=whatize

# JWT Configuração
JWT_SECRET=sua_chave_jwt_secreta_aqui
JWT_REFRESH_SECRET=sua_chave_jwt_refresh_secreta_aqui

# Redis
REDIS_URI=redis://:sua_senha_redis@localhost:56380
REDIS_OPT_LIMITER_MAX=1
REDIS_OPT_LIMITER_DURATION=3000

# Configuração da API da OpenAI
OPENAI_API_KEY=your_openai_api_key

# Limites do Sistema
USER_LIMIT=999
CONNECTIONS_LIMIT=999
CLOSED_SEND_BY_ME=true

# Configuração do Gerencianet
GERENCIANET_SANDBOX=false
GERENCIANET_CLIENT_ID=sua-id
GERENCIANET_CLIENT_SECRET=sua_chave_secreta
GERENCIANET_PIX_CERT=nome_do_certificado
GERENCIANET_PIX_KEY=chave_pix_gerencianet

# Configuração do SMTP (OPCIONAL)
# MAIL_HOST=smtp.gmail.com
# MAIL_USER=seu-email@gmail.com
# MAIL_PASS=sua-senha-de-app-do-gmail
# MAIL_FROM=seu-email@gmail.com
# MAIL_PORT=465

# Configuração do Sistema de Monitoramento de Race Conditions
# ALERT_EMAIL=admin@empresa.com
# ALERT_WEBHOOK=https://hooks.slack.com/services/T00000000/B00000000/XXXXXXXXXXXXXXXXXXXXXXXX
# SERVER_NAME=servidor-producao 